.scrollup {
    position: fixed;
    right: 1em;
    bottom: -30%;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    display: inline-flex;
    padding: .25em;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}

.scrollup:hover {
    opacity: 1;
}

.scrollup_icon {
    font-size: 1.5em;
    color: var(--first-color);
}

.show-scroll {
    bottom: 3em;
}