.home_container {
    position: relative;
    row-gap: 2.5em;
}

.home_img {
    width: 240px;
}

.home_img-bg {
    background-color: var(--first-color);
    width: 258px;
    height: 430px;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5em);
}

.home_social {
    position: absolute;
    top: 35%;
    left: -5em;
    transform: rotate(-90deg);
    display: flex;
    column-gap: 1em;
}

.home_social-link {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: .3s;
}

.home_social-link:hover{
    color: var(--title-color);
}

.home_title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1);
}

.home_description{
    margin-bottom: var(--mb-1-5);
}

.home_price{
    display: inline-block;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

/* buttons */
.home_button {
    box-shadow: 0 12px 24px hsl(0, 0%, 10%, .2);
}

.home_btns {
    display: flex;
    align-items: center;
}

