.header {
  width: 100%;
  background: var(--container-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /*For animation dark mode*/
  transition: .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo, 
.nav_toggle, 
.nav_shop, 
.nav_close {
  color: var(--title-color);
}

.nav_logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
}

.nav_btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav_toggle, 
.nav_shop {
  font-size: 1.25rem;
  cursor: pointer;
}