@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/*=============== VARIABLES CSS ===============*/

:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    --first-color: hsl(181, 100%, 39%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --title-color: hsl(222, 10%, 25%);
    --text-color: hsl(218, 15%, 48%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(0, 0%, 99%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 700;
    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
    /*For animation dark mode*/
    transition: .4s;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/

body.dark-theme {
    --first-color: hsl(181, 76%, 42%);
    --button-color: hsl(0, 0%, 24%);
    --button-color-alt: hsl(0, 0%, 28%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(0, 0%, 12%);
    --container-color: hsl(0, 0%, 16%);
    --border-color: hsl(0, 0%, 20%);
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .3s;
    }
}

.nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.nav_link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    transition: .3s;
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_close {
    font-size: 2rem;
    position: absolute;
    top: .9rem;
    right: 1.25rem;
    cursor: pointer;
}

/* Show menu */
.show-menu {
    right: 0;
}

/* Change background header */
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .10);
}

/* Active link */
.active-link {
    color: var(--first-color);
}

/* Change background header */
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsl(0, 4%, 15%, .1);
}


/*========== Button Dark/Light ==========*/

.change-theme {
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
}


/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/

.dark-theme .change-theme,
.dark-theme .navtoggle,
.dark-theme .navshop,
.dark-theme .button--gray {
    color: hsl(0, 0%, 15%);
}

.dark-theme .scroll-header {
    box-shadow: 0 1px 4px hsla(0, 0%, 4%, .3);
}

.scroll-header .change-theme,
.scroll-header .na_toggle,
.scroll-header .navshop {
    color: var(--title-color);
}

.dark-theme::-webkit-scrollbar {
    background: hsl(0, 0%, 30%);
}


/*=============== REUSABLE CSS CLASSES ===============*/

.container {
    max-width: 1024px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
}

.section {
    padding: 6.5rem 0 1rem;
}

.section_title {
    position: relative;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-3);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.section_title::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 67px;
    height: 1px;
    background-color: var(--first-color);
}

/* buttons */
.button {
    display: inline-block;
    background-color: var(--button-color);
    color: #fff;
    padding: 1.25em 2em;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover {
    background-color: var(--button-color-alt);
}

.button--gray {
    background-color: hsl(0, 0%, 75%);
    color: var(--title-color);
}

.button--gray:hover {
    background-color: hsl(0, 0%, 63%);
}

.button--small {
    padding: 1em 1.5em;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 17%);
}

/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home_img-bg {
        width: 220px;
    }

    .home_title {
        font-size: var(--h1-font-size);
    }

    .home_button {
        font-size: var(--smaller-font-size);
    }

    .story_square,
    .story_img,
    .testimonial_square,
    .testimonial_img {
        width: 180px;
    }

    .story_square,
    .testimonial_square {
        height: 180px;
    }

    .products_container {
        grid-template-columns: repeat(1, 180px);
        justify-content: center;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    
    .home_img-bg {
        width: 340px;
    }

    .featured_container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .footer_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 767px) {
    .section {
        padding: 8rem 0 1rem;
    }

    .cart {
        width: 420px;
        box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        justify-content: initial;
        column-gap: 3rem;
    }

    .nav_toggle,
    .nav_close {
        display: none;
    }

    .nav_list {
        flex-direction: row;
        column-gap: 2.5rem;
    }

    .nav_link {
        text-transform: initial;
        font-size: var(--normal-font-size);
    }

    .nav_btns {
        margin-left: auto;
    }

    .home_container {
        padding-top: 6rem;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }

    .home_img-bg {
        order: 1;
        transform: translate(1.5rem, -6rem);
    }

    .home_data {
        padding: 0 0 3rem 6rem;
    }

    .home_social {
        top: 47%;
        column-gap: 2rem;
    }

    .featured_title,
    .featured_price,
    .new_title,
    .new_price {
        font-size: var(--normal-font-size);
    }

    .story_container,
    .testimonial_container,
    .newsletter_bg {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .story_section-title {
        text-align: initial;
    }

    .story_section-title::before {
        margin: initial;
    }

    .story_images {
        order: -1;
    }

    .products_container {
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        gap: 2.5rem;
    }

    .products_card {
        padding: 2rem 0;
    }

    .products_img {
        height: 155px;
    }

    .newsletter_bg {
        text-align: initial;
        column-gap: 2rem;
        padding: 4.5rem;
    }

    .newsletter_subscribe {
        flex-direction: row;
    }

    .newsletter_input {
        width: 100%;
    }

    .footer_container {
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
    }

    .footer_title {
        font-size: var(--h3-font-size);
    }
}

@media screen and (min-width: 992px) {
    .section_title {
        font-size: var(--h2-font-size);
    }

    .home_container {
        column-gap: 2rem;
    }

    .home_img-bg {
        width: 480px;
        height: 680px;
    }

    .home_img {
        width: 420px;
    }

    .home_social {
        left: -6rem;
    }

    .home_data {
        padding: 0 0 8rem 6rem;
    }

    .featured_container {
        grid-template-columns: repeat(3, 312px);
        padding-top: 2rem;
    }

    .story_container,
    .testimonial_container {
        column-gap: 8rem;
    }

    .story_square,
    .story_img,
    .testimonial_square,
    .testimonial_img {
        width: 450px;
    }

    .story_square,
    .testimonial_square {
        height: 450px;
    }

    .products_container,
    .new_container {
        padding-top: 2rem;
    }

    .testimonial_container {
        padding-bottom: 4rem;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .story_container,
    .testimonial_container {
        column-gap: 13rem;
    }

    .story_container {
        padding-top: 3rem;
    }

    .story_img {
        left: 5rem;
        top: -5rem;
    }

    .testimonial_img {
        right: 5rem;
        top: 5rem;
    }

    .scrollup {
        right: 3rem;
    }

    .testimonial-swiper {
        width: 25em;
    }

    .cart_container {
        justify-content: center;
    }
}