.new_card {
    position: relative;
    text-align: center;
    background-color: var(--container-color);
    padding-top: 2rem;
    border: 1px solid var(--border-color);
    overflow-y: hidden;
    transition: .3s;

  }
  
  .new_tag {
    background-color: var(--first-color);
    padding: .5rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: .3s;
  }

  .new_img {
    height: 215px;
    margin-bottom: var(--mb-1);
  }
  
  .new_title, 
  .new_price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
  }
  
  .new_title {
    text-transform: uppercase;
    margin-bottom: var(--mb-0-75);
  }
  
  .new_price {
    display: block;
    color: var(--first-color);
    transition: .3s;
  }
  
  .new_button {
    font-size: var(--small-font-size);
    transform: translateY(1rem);
    opacity: 0;
  }
  
  .new_card:hover {
    background-color: var(--first-color);
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding: 2rem 0 3rem 0;
  }
  
  .new_card:hover .new_tag {
    background-color: var(--button-color);
  }
  
  .new_card:hover .new_button {
    transform: translateY(0);
    opacity: 1;
  }
  
  .new_card:hover .new_title {
    color: hsl(0, 0%, 15%);
  }
  
  .new_card:hover .new_price,  .new_card:hover .new_title{
    color: #FFF;
    margin-bottom: var(--mb-1-5);
  }
  